@model List<BestMovies.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<div class="container">
    @foreach (var customer in Model)
    {
        <a href="@Url.Action("Details","Customer",new {Id = customer.Id})">@customer.FirstName @customer.LastName</a> <span>, Membership Type : @customer.Membership.Duration</span><br />
@*        @Html.ActionLink(customer.FirstName+customer.LastName, "Details", "Customers" , 0) @customer.FirstName @customer.LastName*@
    }
</div>
